name: Create release

on:
  push:
    tags:
      - '*.*.*'

permissions:
  contents: write

jobs:
  create-release:
    name: Create release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: Download darklua
      run: |
        curl -sSf -o darklua.zip https://github.com/seaofvoices/darklua/releases/latest/download/darklua-linux-x86_64.zip
        7z x darklua.zip
    - name: Run darklua
      run: |
        chmod +x darklua
        ./darklua process src/init.luau release.luau

    - name: Create release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref_name }}
      run: |
        gh release create "$tag" \
            --repo="$GITHUB_REPOSITORY" \
            --title="${tag#v}" \
            --generate-notes \
            release.luau